/*
* Core.css V1.0.0
* Copyright 2018, Terris Kremer
* www.terrisjkremer.com
*/

/* Base
================================================= */

* { box-sizing: border-box; margin: 0; padding: 0; -webkit-appearance: none; }
html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}
html,body {
  background: #5d677a;
  background-image: linear-gradient(to right, #445065, #4a566a, #505b6f, #576175, #5d677a);
  color: #fff;
  font-size: 16px;
}

body, button { font-family: 'IBM Plex Sans', sans-serif; font-size: 16px; line-height: 1.5rem; }
body { padding: 36px; }
h1,h2,h3,h4,h5,h6,p,ul,ol { padding: 10px; }
hr { height: 0; border: none; border-bottom: 1px solid #fff; margin: 20px 10px; }

button {
  padding: 10px 20px;
  background: #649e59;
  border: 0px solid #649e59;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
button:hover { background: #84c378; }
button:focus,
input:focus,
textarea:focus {
  outline:0;
}
button[disabled] { background: #ccc; cursor: not-allowed; }
